{% extends "skeleton.html" %}
{% block title %}О сервисе. {% endblock %}
{% block content %}
<div class="main-header">
    <h1>О сервисе</h1>
</div>
<div class="main-content">
    
    <p><strong>О сервисе</strong></p>

    <p>AZATO.RU - сайт для быстрого и удобного поиска автозапчастей в магазинах и авторазборах. Поиск происходит по базе данных, информация в которую поступает из актуальных прайс-листов зарегистрированных компаний-продавцов.&nbsp;</p>
    
    <p><br />
    <strong>Регистрация</strong></p>
    
    <p>Для регистрации в качестве продавца (Юр.лицо или ИП) необходимо зайти на страницу <a href="https://cabinet.azato.ru/login" target="_blank">регистрации</a>, заполнить форму регистрации.</p>
    
    <p><strong>Стоимость услуг</strong></p>
    
    <p><span style="color:#c0392b">Бесплатные тарифы</span><br />
    <strong>Бесплатный тариф &quot;Демо&quot;</strong>:&nbsp;можно размещать до&nbsp;15 объявлений&nbsp;(загрузка объявлений из прайс-листа на этом тарифе недоступна). Этот тариф выбран по умолчанию после регистрации.<br />
    <strong>Бесплатный тариф &quot;Про&quot;</strong>: можно размещать&nbsp;до 300 объявлений&nbsp;</p>
    
    <p><span style="color:#c0392b">Платные&nbsp;тарифы с абонентской платой</span>. Оплата происходит в виде ежемесячного списания со счета аккаунта.<br />
    &quot;<strong>Про</strong>&quot; - до 300 объявлений - <s>1,499 ₽ / Мес</s>. <span style="color:#c0392b">Бесплатный</span><br />
    &quot;<strong>Про+</strong>&quot; - до 1000 объявлений - 2,999 ₽ / Мес.</p>
    
    <p>На всех тарифных планах отсутствуют ограничения по количеству показов/просмотров объявлений, контактной информации и профиля компании.<br />
    Импортировать данные из прайс-листа, для создания новых объявлений или замены (обновления) информации можно неограниченное количество раз на всех тарифах, поддерживающих функцию импорта из файла.</p>
    
    <p>Оплата услуг</p>
    
    <p>Если вы хотите воспользоваться&nbsp;платными тарифами,&nbsp;вам необходимо&nbsp;сначала&nbsp;пополнить баланс личного кабинета на сумму не менее стоимости тарифа, который вы хотите приобрести. Затем в Личном кабинете выбрать один из&nbsp;тарифов&nbsp;и нажать кнопку &quot;Сохранить&quot;.</p>
    
    <p>Пополнение баланса личного кабинета&nbsp;осуществляется одним из двух способов:<br />
    1) банковскими картами VISA, MASTERCARD, МИР;<br />
    2) через Google Pay;</p>
    
    <p><br />
    <strong>Внесение информации</strong></p>
    
    <p>Для размещения объявлений на сайте&nbsp;Azato.ru&nbsp;необходимо&nbsp;<strong>зарегистрироваться&nbsp;</strong>(см. выше раздел &quot;Регистрация&quot;).<br />
    На данный момент существуют&nbsp;<strong>2 варианта внесения данных</strong>&nbsp;на сайт azato.ru :<br />
    При&nbsp;<strong>небольшом ассортименте</strong>&nbsp;можно просто по очереди вводить информацию о предлагаемых запчастях&nbsp;с помощью формы создания объявлений.</p>
    
    <p>При&nbsp;<strong>большом количестве запчастей </strong>мы можем предложить вариант импорта данных из &quot;экселевского&quot; файла. Образцы файлов и описание полей доступны в разделе&nbsp;&quot;<span style="color:#c0392b">Примеры файлов для импорта</span>&quot; личного кабинета. Там же представлены списки доступных марок/моделей принятых на нашем сайте. Чтобы осуществить автоматическую загрузку фотографий запчастей необходимо, чтобы эти фотографии были размещены на каком-то сайте или файлообменнике, например&nbsp;Yandex Диск. После чего ссылки на нужное фото указываются в соответствующей ячейке &quot;экселевского&quot; файла.<br />
    Если формат вашего прайс-листа отличается от принятого формата на нашем сайте, вы сможете привести его к нужному формату используя конвертер для прайс-листов. Подробное описание доступно в разделе &laquo;Конвертер для прайс-листа&raquo;<br />
    Полная инструкция по импорту из файла доступна в личном кабинете на тарифах, поддерживающих импорт: &laquo;Про&raquo; и &laquo;Про+&raquo;.</p>
    
</div>
{% endblock %}
