{% extends "skeleton.html" %}
{% block title %}О сервисе{% endblock %}
{% block content %}
<div class="main-header">
    <h1>О сервисе</h1>
</div>
<div class="main-content">
    
<p>
    Azato.ru- это бесплатный и удобный сервис для поиска автозапчастей в вашем городе!
    Мы собираем данные напрямую из баз данных розничных магазинов вашего города и предоставляем список товаров которые есть в наличии. <br/>
    Проверка всех магизинов исключает недобросовестных продавцов на нашей площадке, и дает возможность вам безопасно и не опасаясь "подводных камней" подобрать и приобрести нужные Вам запчасти!
</p>
</div>
{% endblock %}
