{% extends "skeleton.html" %}
{% block title %}{{ad.name_ads}}{% endblock %}
{% block content %}
<div class="ads-page">
    <div class="content-area">
        <div class="ads-page-container">

            <div class="ads-page-photo">
                {% if ad.image %}
                 <img src="{{ad.image}}" alt="">
                {% else %}
                <img src="/static/not_found.jpg" alt="">
                {% endif %}
            </div>
            <div class="ads-page-info">
                <h1>{{ad.name_ads}}</h1>
                <p><strong>Автомобиль:</strong> {{ ad.mark_auto }} {{ad.model_auto}} {{ad.year_auto}}</p>
                <p><strong>Продавец:</strong> <a href="/shop/{{ad.user.shops.first().id}}">{{ad.user.shops.first().name}}</a></p>
                <p><strong>Контактный телефон продавца:</strong> <a href="tel:{{ad.user.shops.first().phone}}">{{ad.user.shops.first().phone}}</a></p>
                <p><strong>Адрес магазина:</strong> {{ad.user.shops.first().address}}</p>
                <p><strong>Цена:</strong> {{ad.price}} ₽</p>
                <a href="" class="send-message">Задать вопрос продавцу</a>
            </div>
        </div>



        <p><strong>Подробное описание детали:</strong>
        {{ad.body}}
        </p>
        <hr/>
        <input id="shop_id" type="hidden" value="{{ad.user.shops.first().id}}">
        <input id="ad_id" type="hidden" value="{{ad.id}}">
        {% if recommendation|length > 1 %}
        <div class="results">
            <h2>Другие запчасти для  {{ ad.mark_auto }} {{ad.model_auto}} {{ad.year_auto}}:</h2>
            <div class="results-blocks">
             {% for ad_rec in recommendation %}
             {% if ad_rec.id != ad.id %}
                <div class="results-detail">
                    <div class="results-ads-image">
                        {% if ad_rec.image %}
                        <img src="{{ad_rec.image}}" alt="{{ad_rec.name}}"></img>
                       {% else %}
                       <img src="/static/not_found.jpg" alt="{{ad_rec.name}}"></img>
                       {% endif %}
                    </div>
                    <div class="results-ads-info">
                        <div class="ads-name">
                          <h3> {{ad_rec.name_ads}}</h3>
                        </div>
                        <div class="ads-info">
                            <p>{{ad_rec.body}}</p>
                          </div>
                          <div class="ads-shop">
                            <p>Продавец: <a href="/shop/{{ad_rec.user.shops.first().id}}">{{ad_rec.user.shops.first().name}}</a></p>
                          </div>
                          <div class="ads-shop-adress">
                            <p>{{ad_rec.user.shops.first().address}}</p>
                          </div>
                    </div>
                    <div class="results-ads-more">
                        <div class="ads-price">
                            <span>{{ad_rec.price}} ₽</span>
                        </div>

                        <button value="{{ad_rec.user.shops.first().phone}}" class="redButton">Показать телефон</button>
                        <a href="/ad/{{ad_rec.id}}" class="redButton">Подробнее о товаре</a>
                    </div>
                </div>
             {% endif %}
             {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
