{% extends "skeleton.html" %}
{% block title %}{{ad.name_ads}}. {% endblock %}
{% block content %}
<div class="container">
<div class="ads-page">
    <div class="content-area">
        <div class="ads-page-container">

            <div class="ads-page-photo">
                {% if ad.image %}
                <a href="{{ad.image}}" data-fancybox="gallery">
                 <img src="{{ad.image}}" alt="{{ad.name_ads|safe}}">
                 </a>
                {% else %}
                <img src="/not_found.jpg" alt="">
                {% endif %}
            </div>
            <div class="ads-page-info">
                <div class="ad-name">
                    <h1>{{ad.name_ads|safe}}</h1>
                    <div class="ad-price">
                        <span><strong>Цена:</strong> {{ad.price}} ₽</span>
                        </div>
                </div>
            
                <div class="inner-ad-info">
                <p><strong>Автомобиль:</strong><span class="car-name-text"> {{ ad.mark_auto }} {{ad.model_auto}} {{ad.year_auto}}</span> </p>
                <p><strong>Продавец:</strong> <a href="/shop/{{ad.user.shops.first().id}}">{{ad.user.shops.first().name}}</a></p>
                <p><strong>Контактный телефон продавца:</strong> <a href="tel:{{ad.user.shops.first().phone}}">{{ad.user.shops.first().phone}}</a></p>
                <p><strong>Адрес магазина:</strong> {{ad.user.shops.first().address}}</p>
                {% if ad.number %}
                <p><strong>Номер детали:</strong> {{ad.number}}</p>
                {% endif %}
                </div>
               
                <a href="" class="send-message">Написать продавцу</a>
            </div>
        </div>



        <p><strong>Подробное описание детали:</strong>
        {{ad.body|safe}}
        </p>
        <hr/>
        <input id="shop_id" type="hidden" value="{{ad.user.shops.first().id}}">
        <input id="ad_id" type="hidden" value="{{ad.id}}">
        {% if recommendation|length > 1 %}
        <div class="results">
            <h2>Другие запчасти для <span class="car-name-text">{{ ad.mark_auto }} {{ad.model_auto}} {{ad.year_auto}}</span>:</h2>
            <div class="results-blocks">
             {% for ad_rec in recommendation %}
             {% if ad_rec.id != ad.id %}
             <div class="results-detail">
                <div class="results-ads-image">
                    <a href="/ad/{{ad.id}}">
                    {% if ad.image %}
                    <img src="{{ad.image}}" alt="{{ad.name_ads}}" class="adt-image">
                    {% else %}
                    <img src="/static/not_found.jpg" alt="{{ad.name_ads}}"></img>
                    {% endif %}
                </a>
                </div>
                <div class="results-ads-info">
                    <div class="ads-name">
                        <a href="/ad/{{ad.id}}"> <h3>{{ad.name_ads|safe}}</h3></a>
    
                        <!-- <h3><a href="/ad/{{ad.id}}">{{ad.name_ads|safe}}</a></h3> -->
                    </div>
                    <div class="ads-info">
                      </div>
                      <div class="ads-shop">
                        <p><span class="car-name-text">{{ad.mark_auto}}</span></p>
                        <p><span class="car-model-text">{{ad.model_auto}} </span>  {% if ad.year_auto %} <span class="car-model-text">{{ad.year_auto}} </span>   {% else %}
                            <span class="car-model-text">Год не указан</span> 
                            {% endif %}</p>
                        <p><a href="/shop/{{ad.user.shops.first().id}}" class="shop-link">{{ad.user.shops.first().name}}</a>
                        <button value="{{ad.user.shops.first().phone}}" class="phone-adt-button">Показать телефон</button>
                        
                        </p>
                      </div>
                  
                </div>
                <div class="results-ads-more">
                    <div class="ads-price">
                        <span>{{ad.price}} ₽</span>
                    </div>
    
                    <div class="ads-city">
                        <span>В Иркутске</span>
                    </div>
                </div>
            </div>
             {% endif %}
             {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
