{% extends "skeleton.html" %}
{% block content %}
<div class="banner">
    <img src="../static/ban1.jpeg" alt="Автосервис TOP4SERVICE">
</div>

<div class="main-header">
    <h1>Подбор автозапчастей</h1>
</div>
<form class="search-form">
    <img src="../static/search-car.png" alt="azato.ru">
    <input type="text" id="detailName" placeholder="Название/номер детали" required/>
    <select name="" id="carName">
        <option value="">Марка автомобиля</option>
    </select>
    <select name="" id="carModel">
        <option value="">Модель автомобиля</option>
    </select>
    <select name="" id="carYear">
        <option value="">Год выпуска</option>
    </select>
    <input type="submit" value="Поиск" class="redButton">
</form>
<div class="results">
    <h2>Результаты поиска: {{pagination.total_results}}</h2>
    <div class="results-blocks">
        {% for ad in ads %}
        <div class="results-detail">
            <div class="results-ads-image">
                {% if ad.image %}
                <img src="{{ad.image}}" alt="{{ad.name_ads}}">
                {% else %}
                <img src="/static/not_found.jpg" alt="{{ad.name_ads}}"></img>
                {% endif %}
            </div>
            <div class="results-ads-info">
                <div class="ads-name">
                    <h3><a href="/ad/{{ad.id}}">{{ad.name_ads}}</a></h3>
                </div>
                <div class="ads-info">
                    <p>{{ad.body}}</p>
                  </div>
                  <div class="ads-shop">
                    <p>Продавец: <a href="/shop/{{ad.user.shops.first().id}}">{{ad.user.shops.first().name}}</a></p>
                  </div>
                  <div class="ads-shop-adress">
                      {% if ad.user.shops.first().address %}
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.user.shops.first().address}}</p>
                      {% endif %}
                  </div>
            </div>
            <div class="results-ads-more">
                <div class="ads-price">
                    <span>{{ad.price}} руб</span>
                </div>

                <button value="{{ad.user.shops.first().phone}}" class="redButton">Показать телефон</button>
                <a href="/ad/{{ad.id}}" class="redButton">Подробнее о товаре</a>
            </div>
        </div>
        {% endfor %}
        <div class="center">
            <div class="pagination">
                {% if pagination.page_number > 1 %}
                    <a href="/?page={{pagination.page_number - 1}}"><</a>
                {% endif %}
                {% if pagination.page_number > 4 %}
                    <a href="/?page=1">1</a>
                {% endif %}
                {% if pagination.page_number > 4 %}
                    <a class="disabled" href="#">..</a>
                {% endif %}
                {% if pagination.num_pages < 6 %}
                    {% for page in range(1, pagination.num_pages + 1) %}
                        {% if page == pagination.page_number %}
                            <a class="active" href="/?page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="/?page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% elif pagination.page_number + 2 < pagination.num_pages %}
                    {% if pagination.page_number > 2 %}
                        {% for page in range(pagination.page_number -2, pagination.page_number + 3) %}
                            {% if page == pagination.page_number %}
                                <a class="active" href="/?page={{page}}">{{page}}</a>
                            {% else %}
                                <a href="/?page={{page}}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% elif pagination.page_number == 2 %}
                        {% for page in range(pagination.page_number -1, pagination.page_number + 3) %}
                            {% if page == pagination.page_number %}
                                <a class="active" href="/?page={{page}}">{{page}}</a>
                            {% else %}
                                <a href="/?page={{page}}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for page in range(pagination.page_number, pagination.page_number + 5) %}
                            {% if page == pagination.page_number %}
                                <a class="active" href="/?page={{page}}">{{page}}</a>
                            {% else %}
                                <a href="/?page={{page}}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for page in range(pagination.num_pages - 4, pagination.num_pages + 1) %}
                        {% if page == pagination.page_number %}
                            <a class="active" href="/?page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="/?page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if pagination.page_number <  pagination.num_pages - 3 %}
                    <a class="disabled" href="#">..</a>
                {% endif %}
                {% if pagination.page_number <  pagination.num_pages - 3 %}
                    <a href="/?page={{pagination.num_pages}}">{{pagination.num_pages}}</a>
                {% endif %}
                {% if pagination.page_number <  pagination.num_pages %}
                    <a href="/?page={{pagination.page_number + 1}}">></a>
                {% endif %}
            </div>
        </div>
</div>
</div>
{% endblock %}
