{% extends "skeleton.html" %}
{% block content %}


<div class="header-wrapper">
<div class="container">
<div class="main-header">
    <h1>Подбор автозапчастей</h1>
</div>
<form class="search-form">
    <img src="../static/search-car.png" alt="azato.ru">
    <input type="text" id="detailName" placeholder="Название/номер детали" required/>
    <select name="" id="carName">
        <option value="">Марка автомобиля</option>
    </select>
    <select name="" id="carModel">
        <option value="">Модель автомобиля</option>
    </select>
    <select name="" id="carYear">
        <option value="">Год выпуска</option>
    </select>
    <input type="submit" value="Поиск" class="redButton">
</form>
</div>
</div>
<!-- Yandex.RTB R-A-2354279-1 -->
<div id="yandex_rtb_R-A-2354279-1"></div>
<script>window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-2354279-1",
		"renderTo": "yandex_rtb_R-A-2354279-1"
	})
})
</script>
<div class="container">
<div class="results">
    <div class="body-wrapper">
    <div class="results-blocks">
        {% for ad in ads.items %}
        {% if ad.active != 0 %}
        <div class="results-detail">
            <div class="results-ads-image">
                {% if ad.image %}
                <img src="{{ad.image}}" alt="{{ad.name_ads}}">
                {% else %}
                <img src="/static/not_found.jpg" alt="{{ad.name_ads}}"></img>
                {% endif %}
            </div>
            <div class="results-ads-info">
                <div class="ads-name">
                    <h3>{{ad.name_ads|safe}}</h3>

                    <!-- <h3><a href="/ad/{{ad.id}}">{{ad.name_ads|safe}}</a></h3> -->
                </div>
                <div class="ads-info">
                  </div>
                  <div class="ads-shop">
                    <p><span class="car-name-text">{{ad.mark_auto}}</span></p>
                    <p><span class="car-model-text">{{ad.model_auto}} </span>  {% if ad.year_auto %} <span class="car-model-text">{{ad.year_auto}} </span>   {% else %}
                        <span class="car-model-text">Год не указан</span> 
                        {% endif %}</p>
                    <p><a href="/shop/{{ad.user.shops.first().id}}" class="shop-link">{{ad.user.shops.first().name}}</a></p>
                  </div>
              
            </div>
            <div class="results-ads-more">
                <div class="ads-price">
                    <span>{{ad.price}} ₽</span>
                </div>

                <button value="{{ad.user.shops.first().phone}}" class="redButton">Показать телефон</button>
                <a href="/ad/{{ad.id}}" class="redButton">Подробнее о товаре</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="center">
            <div class="pagination">
                {% if ads.page > 1 %}
                    <a href="{{ url_for('get_main_html', page=ads.page - 1) }}"><</a>
                {% endif %}
                {% if ads.page > 3 %}
                    <a href="{{ url_for('get_main_html', page=1) }}">1</a>
                {% endif %}
                {% if ads.page > 4 %}
                    <a class="disabled" href="#">..</a>
                {% endif %}
                {% if ads.pages < 6 %}
                    {% for page in range(1, ads.pages + 1) %}
                        {% if page == ads.page %}
                            <a class="active" href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                        {% else %}
                            <a href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% elif ads.page + 2 < ads.pages %}
                    {% if ads.page > 2 %}
                        {% for page in range(ads.page -2, ads.page + 3) %}
                            {% if page == ads.page %}
                                <a class="active" href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% else %}
                                <a href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% elif ads.page == 2 %}
                        {% for page in range(ads.page -1, ads.page + 3) %}
                            {% if page == ads.page %}
                                <a class="active" href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% else %}
                                <a href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for page in range(ads.page, ads.page + 5) %}
                            {% if page == ads.page %}
                                <a class="active" href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% else %}
                                <a href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for page in range(ads.pages - 4, ads.pages + 1) %}
                        {% if page == ads.page %}
                            <a class="active" href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                        {% else %}
                            <a href="{{ url_for('get_main_html', page=page) }}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if ads.page <  ads.pages - 3 %}
                    <a class="disabled" href="#">..</a>
                {% endif %}
                {% if ads.page <  ads.pages - 2 %}
                    <a href="{{ url_for('get_main_html', page=ads.pages) }}">{{ads.pages}}</a>
                {% endif %}
                {% if ads.page <  ads.pages %}
                    <a href="{{ url_for('get_main_html', page=ads.page + 1) }}">></a>
                {% endif %}
            </div>
        </div>




    </div>
    <!-- <div class="ban-section">
        <a href="https://www.instagram.com/top4service/" target="_blank">
        <img src="../static/banner2.jpeg" alt="top4service">
        </a>
    </div> -->
    </div>
</div>
</div>
{% endblock %}
