{% extends "skeleton.html" %}
{% block title %}Оферта. {% endblock %}
{% block content %}
<style>
ol {
list-style: none;
counter-reset: li;
}
li:before {
counter-increment: li;
content: counters(li, ".") ". ";
}
li {
color: #333333;
padding-bottom:7px;
padding-right:10px;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size:16px
}
</style>
<div class="container">
<div class="main-header">
    <h1>Оферта</h1>
</div>
<div class="main-content">
    
<p style="text-align: center;"> Договор публичной оферты о продаже услуг интернет-сервиса Azato.ru</p>

<ol>
   <li>Общие положения
      <ol>
         <li style= "padding-top:5px;"> ООО "АЗАТО РУС", ИНН 3812995676, ОГРН 1233800007121, именуемый далее «Продавец», публикует настоящую публичную оферту о реализации Услуг, размещенных на официальном интернет-сайте Продавца https://azato.ru/ (далее – сайт Продавца). </li>
         <li>В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) настоящий Договор является публичной офертой, и в случае принятия изложенных ниже условий Покупатель, производящее акцепт этой оферты, осуществляет оплату Услуг Продавца в соответствии с условиями настоящего Договора.</li>
         <li> В соответствии с пунктом 3 статьи 438 ГК РФ, оплата Услуги Покупателем является акцептом оферты, что считается равносильным заключению Договора на условиях, изложенных в оферте.</li>

    <p style="font-family: Geneva, Arial, Helvetica, sans-serif;font-size:16px;">Внимательно ознакомьтесь с текстом настоящей оферты, и, если вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от использования приобретения Услуг, предоставляемых Продавцом.</p>
         <li style= "padding-bottom:7px;">В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:
         <ul style= "padding-top:5px; padding-bottom:7px;">• «Оферта» – публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с ним Договор на существующих условиях, содержащихся в Договоре.</ul>
         <ul style= "padding-bottom:7px;">• «Покупатель» – физическое или юридическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре.</ul>
         <ul style= "padding-bottom:7px;">• «Акцепт» – полное и безоговорочное принятие Покупателем условий Договора.</ul>
         <ul style= "padding-bottom:7px;">• «Услуга» – информационные и технологические услуги по сбору, обработке и передаче информации о стоимости и наличии автозапчастей согласно перечню тарифов, представленных на сайте Продавца, а так же услуги по предоставлению рекламного размещения на сервисе azato.ru.</ul>
         <ul style= "padding-bottom:7px;">• «Заказ» – отдельные позиции из ассортиментного перечня Услуг, указанные Покупателем при оформлении заявки на сайте Продавца.</ul>
         </li>
    </ol>
   </li>
   <li>Предмет договора
      <ol>
         <li style= "padding-top:5px;">Продавец реализует Услугу в соответствии с действующим прейскурантом, опубликованным на сайте Продавца, а Покупатель производит оплату и принимает Услугу в соответствии с условиями настоящего Договора.</li>
         <li>Настоящий Договор является официальным документом Продавца и неотъемлемой частью оферты.</li>
      </ol>
   </li>
   <li>Оформление Заказа:
      <ol>
         <li style= "padding-top:5px;">Заказ Услуги осуществляется Покупателем через сайт Продавца.</li>
         <li>При оформлении Заказа Покупатель обязуется предоставить следующую информацию в личном кабинете сервиса:
             <ul style= "padding-top:5px; padding-bottom:7px;">• Полное наименование организации и ИНН</ul>
             <ul style= "padding-top:5px; padding-bottom:7px;">• Контактный телефон и электронную почту</ul>
             <ul style= "padding-top:5px; padding-bottom:7px;">• Наименование Услуги</ul>

         </li>
         <li>Принятие Покупателем условий настоящего Договора осуществляется посредством внесения Покупателем соответствующих данных в регистрационную форму на сайте Продавца. Покупатель имеет право редактировать информацию о себе. Продавец обязуется не сообщать данные Покупателя, указанные на сайте, лицам, не имеющим отношения к исполнению Заказа.</li>
         <li>Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</li>
         <li>Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа.</li>
         <li>Оплата Покупателем оформленного на сайте Продавца Заказа означает согласие Покупателя с условиями настоящего Договора. День оплаты Заказа является датой заключения Договора между Продавцом и Покупателем.</li>
         <li>Все информационные материалы, представленные на сайте Продавца, носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках Услуги. В случае возникновения у Покупателя вопросов, касающихся Услуги, перед оформлением Заказа Покупатель вправе обратиться за консультацией к Продавцу по телефонам, указанным на сайте Продавца.</li>

      </ol>
   </li>
    <li>Сроки исполнения Заказа
      <ol>
         <li style= "padding-top:5px;">Заказ исполняется Продавцом непосредственно в момент обработки полученного Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально. В случае невозможности оказания Услуги Продавцом, в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать Заказ Покупателя. Продавец обязуется уведомить Покупателя об аннулировании его Заказа.</li>
         <li>Заказ считается выполненным в момент получения Услуги Покупателем.</li>
         <li>В случае предоставления Покупателем недостоверной информации его контактных данных Продавец за ненадлежащее исполнение Заказа ответственности не несет.</li>
         <li>В случае ненадлежащего исполнения Заказа по вине Продавца повторная реализация Заказа осуществляется бесплатно.</li>
      </ol>
   </li>
    <li> Оплата Заказа
      <ol>
         <li style= "padding-top:5px;">Оплата Заказа осуществляется в порядке и способом, выбранном Покупателем при заказе Услуги. Оплата производится в безналичном порядке.</li>
         <li>При безналичной форме оплаты обязанность Заказчика по уплате цены товара считается исполненной с момента зачисления соответствующих денежных средств на расчетный счет Продавца.</li>
         <li>Цены на Услуги, указанные на сайте Продавца, могут быть изменены Продавцом в одностороннем порядке.</li>
      </ol>
   </li>
    <li>Возврат Заказа
      <ol>
         <li style= "padding-top:5px;"> В соответствии с пунктом 4 статьи 26.1. Закона РФ № 2300-I «О Защите прав потребителей» Покупатель вправе отказаться от Заказа в любое время до момента исполнения Продавцом.</li>
      </ol>
   </li>
    <li>Авторские права
      <ol>
         <li style= "padding-top:5px;">Вся текстовая информация и графические изображения, размещенные на сайте Продавца, являются собственностью Продавца.</li>
      </ol>
   </li>
    <li>Права, обязанности и ответственность
      <ol>
         <li style= "padding-top:5px;">Продавец вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.</li>
         <li>Продавец имеет право на осуществление записи телефонных переговоров с Покупателем. В соответствии с пунктом 4 статьи 16 Федерального закона «Об информации, информационных технологиях и о защите информации» Продавец обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать такие факты. Телефонные разговоры записываются в целях осуществления контроля качества исполнения Заказов.</li>
         <li>Все претензии по ненадлежащему исполнению Заказа Покупатель вправе направить на адрес электронной почты, указанный на сайте Продавца. Вся поступившая информация обрабатывается в кратчайшие сроки в соответствии с законодательством.</li>
      </ol>
   </li>
</ol>
</div>
</div>
{% endblock %}
