{% extends "skeleton.html" %}
{% block title %}О сервисе{% endblock %}
{% block content %}
<div class="main-header">
    <h1>Оферта</h1>
</div>
<div class="main-content">
    
<p style="text-align: center;">

    Договор публичной оферты о продаже услуг интернет-сервиса Azato.ru</p>
<p>
    1.Общие положения:
    1.1. ИП Тричев Дмитрий Андреевич, ИНН 381211496727, именуемый далее «Продавец», публикует настоящую публичную оферту о реализации Услуг, размещенных на официальном интернет-сайте Продавца https://azato.ru/ (далее – сайт Продавца).
    1.2. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) настоящий Договор является публичной офертой, и в случае принятия изложенных ниже условий Покупатель, производящее акцепт этой оферты, осуществляет оплату Услуг Продавца в соответствии с условиями настоящего Договора. 
    1.3. В соответствии с пунктом 3 статьи 438 ГК РФ, оплата Услуги Покупателем является акцептом оферты, что считается равносильным заключению Договора на условиях, изложенных в оферте.
</p>
<p>  Внимательно ознакомьтесь с текстом настоящей оферты, и, если вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от использования приобретения Услуг, предоставляемых Продавцом.</p>
    
<p>  1.4. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения: 
    •	«Оферта» – публичное предложение Продавца, адресованное неопределенному кругу лиц, заключить с ним Договор на существующих условиях, содержащихся в Договоре. 
    •	«Покупатель» – физическое или юридическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре. 
    •	«Акцепт» – полное и безоговорочное принятие Покупателем условий Договора. 
    •	«Услуга» – информационные и технологические услуги по сбору, обработке и передаче информации о стоимости и наличии автозапчастей согласно перечню тарифов, представленных на сайте Продавца, а так же услуги по предоставлению рекламного размещения  на сервисе azato.ru. 
    •	«Заказ» – отдельные позиции из ассортиментного перечня Услуг, указанные Покупателем при оформлении заявки на сайте Продавца. </p>
    
    <p>  2. Предмет договора
    2.1. Продавец реализует Услугу в соответствии с действующим прейскурантом, опубликованным на сайте Продавца, а Покупатель производит оплату и принимает Услугу в соответствии с условиями настоящего Договора.
    2.2. Настоящий Договор является официальным документом Продавца и неотъемлемой частью оферты.</p>
    
    <p>  3. Оформление Заказа
    3.1. Заказ Услуги осуществляется Покупателем через сайт Продавца.
    3.2. При оформлении Заказа Покупатель обязуется предоставить следующую информацию в личном кабинете сервиса:
    •	полное наименование организации  и ИНН,
    •	контактный телефон и электронную почту;
    •	наименование Услуги.
    3.3.Принятие Покупателем условий настоящего Договора осуществляется посредством внесения Покупателем соответствующих данных в регистрационную форму на сайте Продавца. Покупатель имеет право редактировать информацию о себе. Продавец обязуется не сообщать данные Покупателя, указанные на сайте, лицам, не имеющим отношения к исполнению Заказа. 
    3.4. Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.
    3.5. Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа. 
    3.6. Оплата Покупателем оформленного на сайте Продавца Заказа означает согласие Покупателя с условиями настоящего Договора. День оплаты Заказа является датой заключения Договора между Продавцом и Покупателем.
    3.7. Все информационные материалы, представленные на сайте Продавца, носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках Услуги. В случае возникновения у Покупателя вопросов, касающихся Услуги, перед оформлением Заказа Покупатель вправе обратиться за консультацией к Продавцу по телефонам, указанным на сайте Продавца.
    </p>
    <p>
    4. Сроки исполнения Заказа
    4.1. Заказ исполняется Продавцом непосредственно в момент обработки полученного Заказа. Срок исполнения Заказа в исключительных случаях может быть оговорен с Покупателем индивидуально. В случае невозможности оказания Услуги Продавцом, в том числе по причинам, не зависящим от последнего, Продавец вправе аннулировать Заказ Покупателя. Продавец обязуется уведомить Покупателя об аннулировании его Заказа.
    4.2. Заказ считается выполненным в момент получения Услуги Покупателем. 
    4.3. В случае предоставления Покупателем недостоверной информации его контактных данных Продавец за ненадлежащее исполнение Заказа ответственности не несет.
    4.4. В случае ненадлежащего исполнения Заказа по вине Продавца повторная реализация Заказа осуществляется бесплатно.
    </p>
    <p>
    5. Оплата Заказа
    5.1. Оплата Заказа осуществляется в порядке и способом, выбранном Покупателем при заказе Услуги. Оплата производится в безналичном порядке.
    5.2. При безналичной форме оплаты обязанность Заказчика по уплате цены товара считается исполненной с момента зачисления соответствующих денежных средств на расчетный счет Продавца.
    5.3. Цены на Услуги, указанные на сайте Продавца, могут быть изменены Продавцом в одностороннем порядке. 
    </p>
    <p>
    6. Возврат Заказа
    6.1. В соответствии с пунктом 4 статьи 26.1. Закона РФ № 2300-I «О Защите прав потребителей» Покупатель вправе отказаться от Заказа в любое время до момента исполнения Продавцом.
    </p>
    <p>
    7. Авторские права
    7.1. Вся текстовая информация и графические изображения, размещенные на сайте Продавца, являются собственностью Продавца.
</p>
<p>
    8. Права, обязанности и ответственность
    8.1. Продавец вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.
    8.2. Продавец имеет право на осуществление записи телефонных переговоров с Покупателем. В соответствии с пунктом 4 статьи 16 Федерального закона «Об информации, информационных технологиях и о защите информации» Продавец обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать такие факты. Телефонные разговоры записываются в целях осуществления контроля качества исполнения Заказов.
    8.3. Все претензии по ненадлежащему исполнению Заказа Покупатель вправе направить на адрес электронной почты, указанный на сайте Продавца. Вся поступившая информация обрабатывается в кратчайшие сроки в соответствии с законодательством.
    
    
</p>
</div>
{% endblock %}
