{% extends "skeleton.html" %}
{% block content %}
<div class="container">
<div class="main-header">
    <h1>Подбор автозапчастей</h1>
</div>
<form class="search-form">
    <img src="../static/search-car.png" alt="azato.ru">
    <input type="text" id="detailName" placeholder="Название/номер детали" required/>
    <select name="" id="carName">
        <option value="">Марка автомобиля</option>
    </select>
    <select name="" id="carModel">
        <option value="">Модель автомобиля</option>
    </select>
    <select name="" id="carYear">
        <option value="">Год выпуска</option>
    </select>
    <input type="submit" value="Поиск" class="redButton">
</form>
    <div class="results">
    <h2>Результаты поиска: {{ pagination['value'] }}</h2>
    <div class="results-blocks">
        {% for ad in ads %}
        <div class="results-detail">
            <div class="results-ads-image">
                {% if ad.image %}
                <img src="{{ad.image}}" alt="{{ad.name_ads}}">
                {% else %}
                <img src="/static/not_found.jpg" alt="{{ad.name_ads}}"></img>
                {% endif %}
            </div>
            <div class="results-ads-info">
                <div class="ads-name">
                  <h3>{{ad.name_ads|safe}}</h3>
                </div>
                <div class="ads-info">
                    <p>{{ad.body|safe}}</p>
                  </div>
                  <div class="ads-shop">
                    <p>Продавец: <a href="/shop/{{ad.user.shops.first().id}}">{{ad.user.shops.first().name}}</a></p>
                  </div>
                  <div class="ads-shop-adress">
                      {% if ad.user.shops.first().address %}
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ad.user.shops.first().address}}</p>
                      {% endif %}
                  </div>
            </div>
            <div class="results-ads-more">
                <div class="ads-price">
                    <span>{{ad.price}} ₽</span>
                </div>

                <button value="{{ad.user.shops.first().phone}}" class="redButton">Показать телефон</button>
                <a href="/ad/{{ad.id}}" class="redButton">Подробнее о товаре</a>
            </div>
        </div>
        {% endfor %}
        <div class="center">
    </div>
</div>
</div>
    <div class="center">
        <div class="pagination">
            {% if this_page > 1 %}
                <a href="{{url}}page={{this_page - 1}}"><</a>
            {% endif %}
            {% if this_page > 3 %}
                <a href="{{url}}page=1">1</a>
            {% endif %}
            {% if this_page > 4 %}
                <a class="disabled" href="#">..</a>
            {% endif %}
            {% if pages < 6 %}
                {% for page in range(1, pages + 1) %}
                    {% if page == this_page %}
                        <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                    {% else %}
                        <a href="{{url}}page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}
            {% elif this_page + 2 < pages %}
                {% if this_page > 2 %}
                    {% for page in range(this_page -2, this_page + 3) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% elif this_page == 2 %}
                    {% for page in range(this_page -1, this_page + 3) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for page in range(this_page, this_page + 5) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for page in range(pages - 4, pages + 1) %}
                    {% if page == this_page %}
                        <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                    {% else %}
                        <a href="{{url}}page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if this_page <  pages - 3 %}
                <a class="disabled" href="#">..</a>
            {% endif %}
            {% if this_page <  pages - 2 %}
                <a href="{{url}}page={{pages}}">{{pages}}</a>
            {% endif %}
            {% if this_page <  pages %}
                <a href="{{url}}page={{this_page + 1}}">></a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
