{% extends "skeleton.html" %}
{% block title %}{{shop.name}}. {% endblock %}
{% block content %}
<div class="shop-page">
    <div class="content-area">
        <div class="shop-page-container">

            <div class="shop-page-photo">
                {% if shop.image %}
                 <img src="{{shop.image}}" alt="{{shop.name}}"></img>
                {% else %}
                <img src="/static/not_found.jpg" alt="{{shop.name}}"></img>
                {% endif %}
            </div>
            <div class="shop-page-info">
                <h1>{{shop.name}}</h1>
                <p><strong>Контактный телефон:</strong> <a href="tel:{{shop.phone}}">{{shop.phone}}</a></p>
                <p><strong>Адрес магазина:</strong> {{shop.address}}</p>
            </div>
        </div>

        <p><strong>О магазине:</strong>
       {{shop.body.replace("\n", "<br>")|safe}}
        </p>
        <hr/>
        <div class="results">
            <h2>Обьявления магазина</h2>
            <div class="results-blocks">
             {% for ad in shop.user.posts.all() %}
                {% if ad.active == 1 %}
                <div class="results-detail">
                    <div class="results-ads-image">
                        {% if ad.image %}
                        <img src="{{ad.image}}" alt="{{shop.name}}"></img>
                       {% else %}
                       <img src="/static/not_found.jpg" alt="{{ad.name}}"></img>
                       {% endif %}
                    </div>
                    <div class="results-ads-info">
                        <div class="ads-name">
                          <h3> {{ad.name_ads|safe}}</h3>
                        </div>
                        <div class="ads-info">
                            <p>{{ad.body|safe}}</p>
                          </div>
                          <div class="ads-shop">
                            <p>Продавец: <a href="/shop/{{shop.id}}">{{shop.name}}</a></p>
                          </div>
                          <div class="ads-shop-adress">
                            <p>{{shop.address}}</p>
                          </div>
                    </div>
                    <div class="results-ads-more">
                        <div class="ads-price">
                            <span>{{ad.price}} ₽</span>
                        </div>

                        <button value="{{shop.phone}}" class="redButton">Показать телефон</button>
                        <a href="/ad/{{ad.id}}" class="redButton">Подробнее о товаре</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
