{% extends "skeleton.html" %}
{% block title %}{{shop.name}}. {% endblock %}
{% block content %}
<div class="container">
<div class="shop-page">
    <div class="content-area">
        <div class="shop-page-container">

            <div class="shop-page-photo">
                {% if shop.image %}
                 <img src="{{shop.image}}" alt="{{shop.name}}"></img>
                {% else %}
                <img src="/not_found.jpg" alt="{{shop.name}}"></img>
                {% endif %}
            </div>
            <div class="shop-page-info">
                <h1>{{shop.name}}</h1>
                <p><strong>Контактный телефон:</strong> <a href="tel:{{shop.phone}}">{{shop.phone}}</a></p>
                <p><strong>Адрес магазина:</strong> {{shop.address}}</p>
            </div>
        </div>

        <p><strong>О магазине:</strong>
       {{shop.body.replace("\n", "<br>")|safe}}
        </p>
        <hr/>
        <div class="results">
            <h2>Обьявления магазина</h2>
            <div class="results-blocks">
             {% for ad in ads.items %}
                {% if ad.active == 1 %}
                <div class="results-detail">
                    <div class="results-ads-image">
                        {% if ad.image %}
                        <img src="{{ad.image}}" alt="{{shop.name}}"></img>
                       {% else %}
                       <img src="/not_found.jpg" alt="{{ad.name}}"></img>
                       {% endif %}
                    </div>
                    <div class="results-ads-info">
                        <div class="ads-name">
                          <h3> {{ad.name_ads|safe}}</h3>
                        </div>
                        <div class="ads-info">
                           
                          </div>
                          <div class="ads-shop">
                            <p>Автомобиль: <span class="car-name-text">{{ad.mark_auto}} {{ad.model_auto}}</span></p>
                            {% if ad.year_auto %}
                            <p>Год выпуска: {{ad.year_auto}}</a></p>
                            {% else %}
                            <p>Год выпуска: Не указан</a></p>
                            {% endif %}
                            <p>Продавец: <a href="/shop/{{ad.user.shops.first().id}}">{{ad.user.shops.first().name}}</a></p>
                        </div>
                          <div class="ads-shop-adress">
                            <p>{{shop.address}}</p>
                          </div>
                    </div>
                    <div class="results-ads-more">
                        <div class="ads-price">
                            <span>{{ad.price}} ₽</span>
                        </div>

                        <button value="{{shop.phone}}" class="redButton">Показать телефон</button>
                        <a href="/ad/{{ad.id}}" class="redButton">Подробнее о товаре</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="center">
        <div class="pagination">
            {% if this_page > 1 %}
                <a href="{{url}}page={{this_page - 1}}"><</a>
            {% endif %}
            {% if this_page > 3 %}
                <a href="{{url}}page=1">1</a>
            {% endif %}
            {% if this_page > 4 %}
                <a class="disabled" href="#">..</a>
            {% endif %}
            {% if pages < 6 %}
                {% for page in range(1, pages + 1) %}
                    {% if page == this_page %}
                        <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                    {% else %}
                        <a href="{{url}}page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}
            {% elif this_page + 2 < pages %}
                {% if this_page > 2 %}
                    {% for page in range(this_page -2, this_page + 3) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% elif this_page == 2 %}
                    {% for page in range(this_page -1, this_page + 3) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for page in range(this_page, this_page + 5) %}
                        {% if page == this_page %}
                            <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                        {% else %}
                            <a href="{{url}}page={{page}}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for page in range(pages - 4, pages + 1) %}
                    {% if page == this_page %}
                        <a class="active" href="{{url}}page={{page}}">{{page}}</a>
                    {% else %}
                        <a href="{{url}}page={{page}}">{{page}}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if this_page <  pages - 3 %}
                <a class="disabled" href="#">..</a>
            {% endif %}
            {% if this_page <  pages - 2 %}
                <a href="{{url}}page={{pages}}">{{pages}}</a>
            {% endif %}
            {% if this_page <  pages %}
                <a href="{{url}}page={{this_page + 1}}">></a>
            {% endif %}
        </div>
    </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
