<!DOCTYPE html>
<html lang="Ru">

<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}Azato.ru - Все автозапчасти вашего города.</title>
	
	<meta name="description" content="Поиск автозапчастей в Иркутске. Найдите детали для автомобиля по самым низким ценам.">
	<link rel="icon" href="/favicon.png">
	<meta property="og:image" content="img/dest/preview.jpg">
	<link rel="stylesheet" href="/css/app.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
  
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
</head>

<body>

	<!-- CUSTOM HTML -->

	<div class="Header">
        <div class="container">
            <div class="headerContainer" >
            <div class="logoSection">
           
            <a href="https://azato.ru"><img src="/logo.png" alt="Azato.ru"/></a>
            <span>Все автозапчасти города</span>
           
            </div>
            <div class="city">
                <span>Город: Иркутск</span>
            </div>
            <div class="navigationSection">
            <nav>
                <ul>
                    <li><a href="/" >Главная</a> </li>
                    <li><a href="/about">О сервисе</a></li>
                </ul>


            </nav>
            </div>

            <div class="authSection">
                <a href="https://cabinet.azato.ru" target="_blank"><i class="fa fa-user" aria-hidden="true"></i> Личный кабинет</a>
            </div>

            </div>

        </div>
	</div>
	<div class="Main">
       
            {% block content %}{% endblock %}
       

	</div>

    <!-- Yandex.RTB R-A-2354279-1 -->
<div id="yandex_rtb_R-A-2354279-1"></div>
<script>window.yaContextCb.push(()=>{
	Ya.Context.AdvManager.render({
		"blockId": "R-A-2354279-1",
		"renderTo": "yandex_rtb_R-A-2354279-1"
	})
})
</script>
	<div class="Footer">
        <div class="container">
            <div class="footerInner">
            <div class="FooterLogoSection">
            <a href="https://azato.ru"><img src="/logo.png" alt="Azato.ru"/></a>
            <span>Все автозапчасти города</span>
            </div>
            <div class="FooterNavigationSection">
            <nav>
                <ul>
                    <li><a href="/">Главная</a> </li>
                    <li><a href="/about">О сервисе</a></li>
                    <li><a href="/oferta">Оферта</a></li>
                </ul>


            </nav>
            </div>
            <div class="authSection">
                <h3>Техническая поддержка</h3>
                <h4>support@azato.ru</h4>
            </div>

            </div>
        </div>
        </div>
        <div class="right-form-block">
            <div class="header-info__form">
                    <a href="#" class="form-close"> <i class="fa fa-times" aria-hidden="true"></i></a>	
                    <form class="top-form" action="" method="post">
                        <h2>Написать продавцу</h2>
                    <hr>
                        <input type="text" id='name' placeholder="Имя" name="name" required="">
                        <input type="text" id='phone' placeholder="Номер телефона" name="phone" required="">
                        <input type="text" placeholder="Email" id='email' name="name">
                        <input type="text" placeholder="Вопрос" id="text" name="name">
                        <input type="submit" value="Отправить">
                    </form>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
	<script src="/js/app.js"></script>
    

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(67222207, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/67222207" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
