<!DOCTYPE html>
<html lang="">

<head>

	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} Azato.ru Все автозапчасти города в одном месте.</title>
	<meta name="description" content="Startup HTML template OptimizedHTML 5">
	<link rel="icon" href="/static/favicon.png">
	<meta property="og:image" content="img/dest/preview.jpg">
	<link rel="stylesheet" href="/static/css/app.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

	<!-- CUSTOM HTML -->

	<div class="Header">
        <div class="container">
            <div class="headerContainer" >
            <div class="logoSection">
            <a href="https://azato.ru"><img src="/static/logo.png" alt="Azato.ru"/></a>
           
            <span>Все автозапчасти Вашего города в одном месте</span>
            </div>
            <div class="city">
                <span>Ваш город: <a href="" class="cityIp">Выбрать город</a></span>
            </div>
            <div class="navigationSection">
            <nav>
                <ul>
                    <li><a href="/" >Главная</a> </li>
                    <li><a href="/about">О сервисе</a></li>
                    <li><a href="/partners">Магазинам</a></li>
                </ul>


            </nav>
            </div>

            <div class="authSection">
                <a href="http://cabinet.azato.ru" target="_blank"><i class="fa fa-user" aria-hidden="true"></i> Личный кабинет</a>
            </div>

            </div>

        </div>
	</div>
	<div class="Main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>

	</div>
	<div class="Footer">
        <div class="container">
            <div class="footerInner">
            <div class="FooterLogoSection">
            <a href="https://azato.ru"><img src="/static/logo.png" alt="Azato.ru"/></a>
            <span>Все автозапчасти Вашего города в одном месте</span>
            </div>
            <div class="FooterNavigationSection">
            <nav>
                <ul>
                    <li><a href="/">Главная</a> </li>
                    <li><a href="/about">О сервисе</a></li>
                    <li><a href="/partners">Магазинам</a></li>
                </ul>


            </nav>
            </div>
            <div class="authSection">
                <a href="http://cabinet.azato.ru" target="_blank"><i class="fa fa-user" aria-hidden="true"></i> Личный кабинет</a>
            </div>

            </div>
        </div>
        </div>
        <div class="right-form-block">
            <div class="header-info__form">
                    <a href="#" class="form-close"> <i class="fa fa-times" aria-hidden="true"></i></a>	
                    <form class="top-form" action="" method="post">
                        <h2>Задать вопрос продавцу</h2>
                    <hr>
                        <input type="text" id='name' placeholder="Имя" name="name" required="">
                        <input type="text" id='phone' placeholder="Номер телефона" name="phone" required="">
                        <input type="text" placeholder="Email" id='email' name="name">
                        <input type="text" placeholder="Вопрос" id="text" name="name">
                        <input type="submit" value="Отправить">
                    </form>
            </div>
    </div>
	<script src="/static/js/app.js"></script>

</body>
</html>
